<!DOCTYPE html>
<html lang="en" xmnls:th="http://www.thymeleaf.org" 
th:replace="layouts/main-layout::layout(~{::div})">
<head>

</head>

<style>


</style>

<body>
<div><br><br><br><br>
<div class="canle-chuyennganh">
  <section>
    <center><h2 style="color:var(--highlight-color);">Các Trường Đại Học Đào Tạo Ngành Công Nghệ Thông Tin</h2></center>
    <center><hr  width="30%" align="center" /></center>
    <p><br>

    </p>
        <h2>I.Trường Đại Học</h2>
  </section>
  
  <table class="table">
  <thead class="table-dark">
    <th scope="col">STT</th>
      <th scope="col">Tên Trường</th>
      <th scope="col">Chương Trình Đào Tạo</th>
     
      
     
  </thead>
  
   <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Trường Đại học Bách khoa – Đại học Đà Nẵng</td>
      <td><strong><a href="/chuong-trinh-dao-tao-cntt-bach-khoa-da-nang">Xem Chi Tiết</a></strong></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Viện Nghiên cứu và Đào tạo Việt – Anh, Đại học Đà Nẵng (VNUK)</td>
      <td><strong><a href="/danh-sach-cac-truong-dao-tao-cntt">Xem Chi Tiết</a></strong></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Đại học Duy Tân</td>
      <td><strong><a href="/danh-sach-cac-truong-dao-tao-cntt">Xem Chi Tiết</a></strong></td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Đại học Sư phạm – Đại học Đà Nẵng</td>
      <td><strong><a href="/danh-sach-cac-truong-dao-tao-cntt">Xem Chi Tiết</a></strong></td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Đại học Sư phạm Kỹ thuật – Đại học Đà Nẵng</td>
      <td><strong><a href="/danh-sach-cac-truong-dao-tao-cntt">Xem Chi Tiết</a></strong></td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Đại học Đông Á</td>
      <td><strong><a href="/danh-sach-cac-truong-dao-tao-cntt">Xem Chi Tiết</a></strong></td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Trường Đại học Công nghệ thông tin và Truyền thông Việt – Hàn </td>
      <td><strong><a href="/danh-sach-cac-truong-dao-tao-cntt">Xem Chi Tiết</a></strong></td>
    </tr>
   
  </tbody>
</table>
<br>
<h2>I.Trường Cao Đẳng</h2>
<table class="table">
  <thead class="table-dark">
    <th scope="col">STT</th>
      <th scope="col">Tên Trường</th>
      <th scope="col">Chương Trình Đào Tạo</th>
     
      
     
  </thead>
  
   <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Cao đẳng Phương Đông Đà Nẵng</td>
      <td><strong><a href="/danh-sach-cac-truong-dao-tao-cntt">Xem Chi Tiết</a></strong></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Cao đẳng Nghề Số 5 – Bộ quốc phòng </td>
      <td><strong><a href="/danh-sach-cac-truong-dao-tao-cntt">Xem Chi Tiết</a></strong></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Cao đẳng Kinh tế – Kế hoạch Đà Nẵng</td>
      <td><strong><a href="/danh-sach-cac-truong-dao-tao-cntt">Xem Chi Tiết</a></strong></td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Cao đẳng Lạc Việt</td>
      <td><strong><a href="/danh-sach-cac-truong-dao-tao-cntt">Xem Chi Tiết</a></strong></td>
    </tr>
  
  </tbody>
</table>


 <br>
 <br>
  </div>
  </div>
</body>
</html>