<!DOCTYPE html>
<html lang="en" xmnls:th="http://www.thymeleaf.org" 
th:replace="layouts/main-layout::layout(~{::div})">
<head>

</head>

<style>


</style>

<body>
<div><br><br><br><br>
<div class="canle-chuyennganh">
  <section>
    <center><h2 style="color:var(--highlight-color);">Nhóm Ngành Công Nghệ-Thông Tin</h2></center>
    <center><hr  width="30%" align="center" /></center>
    <p><br>

    </p>
    
  </section>
  
  <table class="table">
  <thead class="table-dark">
    <th scope="col">STT</th>
      <th scope="col">Tên Ngành</th>
      
     
  </thead>
  
  <tbody>
   <tr>
      <th scope="row">1</th>
      <td><a href=""><strong>Ngành khoa học - máy tính</strong></a></td>
      
      
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><a href=""><strong>Ngành truyền thông đa phương tiện</strong></a></td>
     
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><a href=""><strong>Ngành kỹ thuật phần mềm</strong></a></td>
    </tr>
     <tr>
      <th scope="row">4</th>
      <td><strong><a href="/danh-sach-cac-truong-dao-tao-cntt">Ngành công nghệ thông tin</a></strong></td>
    </tr>
  </tbody>
</table>

 <br>
 <br>
 
  </div>
  </div>
</body>
</html>