<!DOCTYPE html>
<html lang="en" xmnls:th="http://www.thymeleaf.org" 
th:replace="layouts/main-layout::layout(~{::div})">
<head>

</head>

<style>


</style>

<body>
<div><br><br><br><br>
<div class="canle">
  <section>
    <center><h2>Nhóm Ngành Sư Phạm</h2></center>
    <center><hr  width="30%" align="center" /></center>
    <p>
- Ngành quản lý giáo dục<br>
- Ngành giáo dục học<br>
- Ngành sư phạm mầm non<br>
- Ngành giáo dục tiểu học<br>
- Ngành giáo dục đặc biệt<br>
- Ngành giáo dục công dân<br>
- Ngành giáo dục chính trị<br>
- Ngành giáo dục thể chất<br>
- Ngành huấn luyện thể thao<br>
- Ngành giáo dục quốc phòng – an ninh<br>
- Ngành sư phạm toán học<br>
- Ngành sư phạm tin học<br>
- Ngành sư phạm vật lý<br>
- Ngành sư phạm hóa học<br>
- Ngành sư phạm sinh học<br>
- Ngành sư phạm kỹ thuật công nghiệp<br>
- Ngành sư phạm kỹ thuật nông nghiệp<br>
- Ngành sư phạm kinh tế gia đình<br>
- Ngành sư phạm ngữ văn<br>
- Ngành sư phạm lịch sử<br>
- Ngành sư phạm địa lý<br>
- Ngành sư phạm âm nhạc<br>
- Ngành sư phạm mỹ thuật<br>
- Ngành sư phạm tiếng Anh<br>
- Ngành sư phạm tiếng Pháp


    </p>
    
  </section>

 <br>
 <br>
  </div>
  </div>
</body>
</html>