<!DOCTYPE html>
<html lang="en" xmnls:th="http://www.thymeleaf.org" 
th:replace="layouts/main-layout::layout(~{::div})">
<head>

</head>
<body>
      <div><br><br><br><br>
<div class="canle-thongtin">
  <section>
   <h1>Chào đón Chương trình Tư vấn trực tuyến Tuyển sinh Đại học Đà Nẵng- Năm 2023</h1>
    <br>
    <p>
      Nhằm cung cấp đầy đủ, kịp thời đến các em học sinh và Quý phụ huynh những thông tin mới nhất về tuyển sinh đại học chính quy năm 2023 vào các trường đại học thành viên, các đơn vị đào tạo trực thuộc của Đại học Đà Nẵng (ĐHĐN), ĐHĐN sẽ tổ chức Chương trình tư vấn trực tuyến Tuyển sinh vào ĐHĐN năm 2023.
    </p>
    <img alt="" src="https://www.udn.vn/Portals/0/334600146_179804871451631_7007773347559413702_n_1.png">
    <p>
        Chương trình được livestream trên: Fanpage <a href="https://www.facebook.com/tuyensinhdaihocdanang">Tuyển sinh Đại học Đà Nẵng</a>
      </p>
      <p> hoặc Trang <strong><a href="https://www.facebook.com/tuyensinhdaihocdanang">https://www.facebook.com/tuyensinhdaihocdanang</a></strong></p>
      <p><strong>Vào lúc 09h00 ngày 12/3/2023 (sáng Chủ nhật).</strong></p>
<img src="https://www.udn.vn/Portals/0/Ban%20tu%20van%20truc%20tuyen%20tuyen%20sinh%20dai%20hoc%20chinh%20quy%20nam%202023.png" width="1170" height="700">
<br><br>
    <p>Tham dự Chương trình có Quý Thầy, Cô lãnh đạo, chuyên gia giàu kinh nghiệm, tâm huyết sẽ trực tiếp tư vấn, giải đáp cặn kẽ những nội dung, câu hỏi mà các em học sinh cùng Quý phụ huynh quan tâm như:</p>

<p>👉 Các phương thức xét tuyển</p>
<p>👉 Những điểm mới về tuyển sinh-2023</p>
<p>👉 Chỉ tiêu tuyển sinh</p>
<p>👉 Thông tin về các ngành đào tạo mới mở</p>
<p>👉 Thông tin về các ngành học, cơ hội việc làm</p>
<p>👉 Cơ hội học bổng và các chính sách ưu đãi.</p>

<img alt="" src="https://www.udn.vn/Portals/0/TUYEN%20SINH%202023_1.png" width="1170" height="700">
<br>
<br>
<p>Các em học sinh và Quý phụ huynh có thể đặt câu hỏi trực tuyến thông qua hệ thống tư vấn tuyển sinh online tại<br><strong>Fanpage <a href="https://www.facebook.com/tuyensinhdaihocdanang">“Tuyển sinh Đại học Đà Nẵng”</a></strong> hoặc gọi điện thoại trực tiếp đến số hotline tư vấn tuyển sinh:<strong>0236 3835345</strong></p>
  
  <p>Kính mời Quý phụ huynh cùng các em học sinh tham dự Chương trình Livestream và chia sẻ thông tin rộng rãi đến các bạn học sinh và cộng đồng.</p>
  </section>


 <br>
 <br>
  </div>
  </div> 
</body>
</html>